body {
    font-size: 16px;
    color: #fff;
    background-color: #254f9eda;
    font-family: 'Oxygen', sans-serif;
  }
  #header-nav{
      background-color: rgb(31, 66, 141);
      border-radius: 0;
      border: 0;
  }
  .navbar-brand {
      padding-top: 25px;
      padding-bottom: 25px;
      margin:	10px 10px 10px 0;
  }
  .navbar-brand h1 {
      font-family: 'Lora', serif;
      color: #fff;
      font-size: 1.5em;
      text-transform: uppercase;
      font-weight: bold;
      text-shadow: 1px 1px 1px #222;
      margin-top: 0;
      margin-bottom: 0;
      line-height: .75;
  }
  .navbar-brand a:hover, navbar-brand a:focus {
      text-decoration: none;
  }
  #nav-list {
    color: #000;
    background: #fff;
    margin-top: 10px;
  }
  #nav-list li{
      padding-top: 10px;
      padding-bottom: 10px;
      border: 1px solid  black;
      text-align: center;
  }

  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
      border: 1px solid black;
  }
 .navbar-header button.navbar-toggle {
      clear: both;
      margin-top: -30px;
  }
  #chicken {
      background-color: rgba(26, 57, 82, 0.527);
      font-size: 1.2em;
      padding-top: 5px;
  }
  .menu-item-details {
      background-color: rgba(26, 57, 82, 0.527);
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
      height: 100%;
  }
  #menu-title {
      margin-bottom: 30px;
  }